#header ul {
    padding-top: 5px;
}
#header ul li{
    font-size: 24px;
    color: #fff;
    padding-right: 30px;
}
#header .container {
    background: #004450;
}
#header input {
    margin-top: 8px;
}