*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "SimHei";
    font-size: 1em;
}
ul{
    list-style: none;
}
#header{
    background: #004450;
    margin-bottom: 10px;
}
#header ul{
    float: left;
    list-style: none;
    margin: 0;
    /*overflow: hidden;*/
}
.container:before,
.container-fluid:before{
    content: "";
    display: table;
}
.container:after,
.container-fluid:after{
    content: "";
    display: table;
    clear: both;
}
#header ul li{
    display: inline-block;
    font-size: 24px;
    color: #fff;
    padding: 10px;
}
#header input{
    float: right;
    height: 24px;
    margin: 10px 0;
}
.left,.right,.middle{
    /*display: inline-block;*/
    float: left;
    /*margin: 0;*/
}
.left ul{
    background: #5B135C;
    padding: 25px;
}
.left ul li {
    padding: 10px 5px;
    text-align: center;
    background: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.middle{
    background: #FFB751;
    /*padding: 10px;*/
}
.middle .container-fluid{
    margin: 10px;
}
.img-fluid{
    float: left;
}
.middle p {
    padding: 10px;
}
.right{
    padding: 10px;
    background:#5D5106;
}
@media screen and (min-width: 992px){
    .container{
        width: 970px;
        margin: 0 auto;
    }
   #header ul{
       width: 30%;
   }
   #header input{
       width: 30%;
   }
   .left,.right{
       width: 20%;
   }
   .middle{
       width: 60%;
   }
   .img-fluid{
       width: 25%;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
        margin: 0 auto;
    }
    #header ul{
        width: 40%;
    }
    #header input{
        width: 40%;
    }
    .left{
        width: 25%;
    }
    .middle{
        width: 75%;
    }
    .img-fluid{
        width: 50%;
    }
    .right{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .container{
        width: 100%;
        margin: 0;
    }
    #header ul{
        width: 100%;
    }
    #header input{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .middle{
        width: 100%;
    }
    .img-fluid{
        width: 50%;
    }

}